/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

main {
    flex: 1; /* Fait en sorte que le contenu principal s'étende pour remplir l'espace restant */
}

footer {
    margin-top: auto; /* Le pied de page est poussé en bas de la page */
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

a {
	text-decoration: none;
	color: #000000;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	margin-top: 120px;
}

#portfolio h2 {
	text-align: center;
}

.container-center {
    display: flex;
	justify-content: center;
	align-items: center;
} 

.marginCenter {
	margin-left: 125px;
}


.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.modifyBtn {
	margin-left: 31px;
	cursor: pointer;
}

.modifyBtn i {
    margin-right: 5px;
}

/* Modale */
.modal {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

#modal-container {
	width: 630px;
    height: 688px;
    display: flex;
    flex-direction: column;
    align-items: center; 
	background-color: #ffffff;
	border-radius: 10px;
}

#modal-container h2 {
    margin: 60px 0 46px;
    font-family: 'Work Sans', sans-serif;
    color: #000;
    font-weight: 400;
}

#modal-container hr {
    margin-top: 67px;
    width: 420px;
    border: 1px transparent #B3B3B3;
	 
}

.add-file-container {
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	width: 100%;
	height: 295px;
	margin-top: -90px;
	margin-bottom: 35px;
	cursor: pointer;
}

.add-file-container .fa-image {
	font-size: 72px;
	color: rgba(162, 168, 172, 0.4);
}

.add-file-container label {
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background-color: rgba(162, 168, 172, 0.4);
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
}


.add-file-container span {
font-family: Work Sans;
font-size: 10px;
font-weight: 400;
margin-top: 6px;
}

#add-photo-form {
	display: flex;
    flex-direction: column;
    align-items: start;
	margin-top: 20px;
}


#add-photo-form h2 {
	width: 100%;
	margin-top: -24px;
}

#add-photo-form label {
	margin-bottom: 10px;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	text-align: left;
}

#add-photo-form label:last-of-type {
	margin-top: 21px;
}

#add-photo-form input, #add-photo-form select {
	width: 420px;
	height: 51px;
	border: none;
}

#add-photo-form hr {
	margin-top: 30px;
}

.add-file-container {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-image {
	font-size: 72px;
}

.modal-btn {
    width: 237px;
    height: 36px;
    border-radius: 60px;
    background-color: #1D6154;
    font-family: 'Syne', sans-serif;
    color: #ffffff;
    cursor: pointer;
    margin: 32px auto;
	border: none;
}

.modal-btn-last {
	background-color: #A7A7A7;
}

/* Bouton de fermeture */
.close {
    position: relative;
    left: 275px;
	top: 28px;
    color: #000;
    font-size: 30px;
	top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close-2 {
	top: 0;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.close-2 {
	top: 0;
}

.arrow-left {
	font-size: 28px;
	position: relative;
	top: 30px;
	right: 275px;
	cursor: pointer;
}

/* Galerie modale */
#modal-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 13px 9px; 
}

#modal-gallery .work-image {
    width: 76.86px;
    height: 102.57px;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
}

#modal-gallery .delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-size: 11px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4px;
    cursor: pointer;
    z-index: 10;
    transition: border 0.3s;
}

#modal-gallery .delete-icon:hover {
    border: 1px solid yellow;
}

.photo {
    position: relative;
    display: inline-block;
    width: 76.86px; /* Dimensions exactes */
    height: 102.57px; /* Dimensions exactes */
    margin: 5px; /* Pour espacer les images */
    overflow: hidden; /* Cache toute partie de l'image qui dépasse */
}

.filter {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 50px auto;
}

.filter-btn {
	border-radius: 50px;
	padding: 9px 15px;
	font-family: 'Syne', sans-serif;
 	font-weight: 700;
  	font-size: 16px;
	color: #1D6154;
	cursor: pointer;
}

.filter-btn-selected {
	background-color: #1D6154;
	color: #ffffff;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.login {
	margin-top: 150px;
	margin-bottom: 37px;
}

.login h2 {
	text-align: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 37px;
}

.login-form > div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.login-form input[type="email"],
.login-form input[type="password"] {
	width: 379px;
	height: 51px;
	border: none;
	margin-top: 7px;
}

.login-form button[type="submit"] {
	width: 179px;
	height: 36px;
	border-radius: 60px;
	background-color: #1D6154;
	font-family: 'Syne';
	color: #ffffff;
	cursor: pointer;
	margin-top: 35px;
	border: none;
}


.login-form > .email {
	margin-bottom: 30px;
}

.email,
.password {
	font-family: "Work Sans", sans-serif;
}

.forgot-password {
	margin-top: 28px;
	display: flex;
	justify-content: center;
}

.forgot-password a {
	color: #000000;
	text-decoration: underline;
}

.error-message {
	margin-top: 37px;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.displayNone {
	display: none;
}

